description "buildbox-agent"
# buildbox-agent - The agent service for http://buildbox.io
#
# {{ ansible_managed }}
#
# buildbox-agent

env BUILDBOX_HOME={{ buildbox_home }}
env BUILDBOX_TOKEN={{ buildbox_token }}

respawn
respawn limit 15 5

start on runlevel [2345]
stop on runlevel [06]

setuid {{ buildbox_user }}
setgid {{ buildbox_group }}

script
  exec $BUILDBOX_HOME/.buildbox/bin/buildbox-agent start --bootstrap-script $BUILDBOX_HOME/.buildbox/bootstrap.sh --token $BUILDBOX_TOKEN
end script
